[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
pydantic = {extras = ["email", "typing_extensions"],version = "*"}
passlib = {extras = ["bcrypt"],version = "*"}
pyjwt = "*"
environs = "*"
uvicorn = "*"
aiofiles = "*"
pyyaml = "*"
pendulum = "*"
httpx = "*"
async-sender = "*"
jinja2 = "*"
sentry-sdk = "*"
casbin = "*"
aiopg = "*"
alembic = "*"
aio-pubsub = "*"
urouter = "==0.1.2"
click = "*"
gunicorn = "*"

[dev-packages]
faker = "*"
coverage = "*"
pytest = "*"
pytest-asyncio = "*"
asynctest = "*"
black = "*"
requests = "*"
flake8 = "*"
mypy = "*"
pytest-xdist = "*"
flake8-bandit = "*"
pep8-naming = "*"
gitpython = "*"
semver = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
